body {
  counter-reset: thm lem def exp sec ssec;
}
.theorem {
  counter-increment: thm;
  display: block;
  font-style: italic;
}
.theorem:before {
  content: "Theorem " counter(thm) ".";
}
.theorem[text]:before {
  content: "Theorem " counter(thm) " (" attr(text) "). ";
}
.lemma {
  counter-increment: lem;
  display: block;
  font-style: italic;
}
.lemma:before {
  content: "Lemma " counter(lem) ".";
}
.lemma[text]:before {
  content: "Lemma " counter(lem) " (" attr(text) "). ";
}
.definition {
  counter-increment: def;
  display: block;
}
.definition:before {
  content: "Definition " counter(def) ".";
}
.definition[text]:before {
  content: "Definition " counter(def) " (" attr(text) "). ";
}
.example {
  counter-increment: exp;
  display: block;
}
.example:before {
  content: "Example " counter(exp) ". ";
}
.example[text]:before {
  content: "Example " counter(exp) " (" attr(text) "). ";
}
.section {
  counter-reset: ssec;
  counter-increment: sec;
  margin: 20px 0 5px 0;
}
.section[text]:before {
  content: counter(sec) "\00a0\00a0\00a0\00a0"attr(text);
  font-weight: 700;
  font-size: 30px;
}
.subsection {
  counter-increment: ssec;
  margin: 10px 0 5px 0;
}
.subsection[text]:before {
  content: counter(sec) "." counter(ssec) "\00a0\00a0\00a0\00a0"attr(text);
  font-weight: 700;
  font-size: 24px;
}
.appsubsection {
  counter-increment: ssec;
  margin: 10px 0 5px 0;
}
.appsubsection[text]:before {
  content: counter(ssec, upper-alpha) "\00a0\00a0\00a0\00a0"attr(text);
  font-weight: 700;
  font-size: 24px;
}
.proof {
  display: block;
}
.proof:before {
  content: "Proof.\00a0\00a0";
  font-style: italic;
}
.qed{
  display: block;
  text-align: right;
}
.cite {
  font-weight: 500;
  color:#1E3877;
}
.cite:before {
  font-weight: 400;
  color: black;
  content: "[";
}
.cite:after {
  font-weight: 400;
  color: black;
  content: "]";
}
.eqref {
  font-weight: 500;
  color:#1E3877;
}
.eqref:before {
  font-weight: 400;
  color: black;
  content: "(";
}
.eqref:after {
  font-weight: 400;
  color: black;
  content: ")";
}
.ref {
  font: "TeX";
  font-weight: 500;
  color: #DD3403;
}
.caption {
  margin: 0 20px 15px 20px;
  font-size: 16px;
}
.caption[text]:before{
  content: attr(text) ": ";
  font-weight: 700;
  font-family: 'STIX Two Text', serif;
}
.theorem,
.lemma,
.example,
.definition{
  margin: 10px 0 10px 0;
}
.theorem:before,
.lemma:before,
.example:before,
.definition:before {
  font-weight: 700;
  font-style: normal;
}
.theorem,
.lemma,
.example:before,
.definition:before,
.proof:before,
.section,
.subsection,
.cite,
.eqref,
.ref{
  font-family: 'STIX Two Text', serif;
  font-size: 1em;
}

