.selected-projects {
    max-width: -webkit-calc(100% - (30px / 2));
    max-width: calc(100% - (30px / 2));
    margin: 60px auto 0;
    font-family: 'Roboto', sans-serif, Helvetica
}

pub-right>.publish>.publisher>.contributor {
    color: #0077B5;
    font-weight: 400
}