.projects-wrapper {
    max-width: 900px;
    margin: 0 auto;
    padding: 45px 0 0;
}

@media screen and (max-width: 960px) {
    .projects-wrapper {
        max-width: calc(100% - 30px);
    }
}

.selected-projects {
    max-width: -webkit-calc(100% - (30px / 2));
    max-width: calc(100% - (30px / 2));
    margin: 30px auto 0;
}

.selected-projects .pub-right > .desc > p {
    margin: 0;
    font-size: 17px;
    line-height: 1.6;
    text-align: left;
}

.selected-projects .contribute {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #59564f;
}

.selected-projects .contributor {
    color: #1758a9;
    font-weight: 400;
}

.selected-projects .contributor strong {
    font-weight: 700;
}

@media screen and (max-width: 600px) {
    .selected-projects .pub-right > .desc > p {
        font-size: 16px;
    }
    .selected-projects .contribute {
        font-size: 15px;
    }
}
